:host{
    display: block;
    height: 1800px; // Cambiar al terminar
    min-width: 1250px;

    background-image: url(../../assets/background.jpg);
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;

    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.55);
    height: 1800px; // Cambiar al terminar
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    div {
        flex-grow: 5;
    }

    h1 {
        font-size: 40px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    h1:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}

nav {
    flex-grow: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin: 0 30px;
        font-size: 24px;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
    }

    button {
        width: 144px;
        height: 40px;
        border-radius: 10px;
        border: 0;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        font-size: 18px;
    }

    button:hover {
        cursor: pointer;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 20%;
}

#formularios {
    grid-column: 1/4;
    grid-row: 1/5;
}

#resumen-card{
    grid-column: 4/5;
    grid-row: 1/2;

    position: sticky;
    top: 100px;

    display: grid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: aaa;
    margin: 0 30px;
    padding: 30px;
    justify-items: start;

    h2 {
        font-size: 24px;
        text-align: center;
    }

    p {
        font-size: 18px;
    }
}

#examen-card {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: aaa;
    padding: 50px;
    margin-bottom: 30px;

    h2 {
        font-size: 24px;
    }
}

#fecha-hora-card {
    display: grid;
    justify-items: center;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: aaa;

    padding: 50px;
    margin-bottom: 30px;

    h2 {
        font-size: 24px;
    }
}

.fecha-hora {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.calendario {
    width: 350px;
}

.horas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.bloque-horario {
    background-color: #44C2D6;
    color: white;
    font-size: 24px;
}

.bloque-horario:hover {
    cursor: pointer;
}

#personal-card {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: aaa;
    padding: 50px;
    margin-bottom: 30px;

    h2 {
        font-size: 24px;
    }
}

#datos-card {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: aaa;
    padding: 50px;
    margin-bottom: 30px;

    h2 {
        font-size: 24px;
    }
}


.submit-button {
    background-color: #44C2D6;
    color: white;
    border: none;
    shape-outside: none;
}


// Cambio de colores a los mat-form-field!
mat-form-field {
    width: 100%;
}

mat-label {
    color: white;
}

mat-hint {
    color: white !important;
}

// Sin seleccionar
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-select-arrow{
    color: white;
}

:host::ng-deep .mat-select-value{    
    color: white;
}

// Seleccionado
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: white;
}

:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white;
}

:host::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: white;
}


