<main>
    <h1>Editar examen</h1>

    <form [formGroup]="form" (ngSubmit)="save($event)">

        <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre">
            <mat-error>
              Ingresa un nombre
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="disponible">¿Disponible?</mat-slide-toggle>
        
        <button type="submit" mat-raised-button color="primary">Guardar</button>
    </form>
</main>