<h2>Crear Administrador</h2>
<form [formGroup]="form" (ngSubmit)="save($event)">
    <label for="rut">Rut</label>
    <input type="text" formControlName="rut" id="rut" ngClass="{
        'is-valid': isRutFieldValid,
        'is-invalid': isRutFieldInvalid
    }">
    <div *ngIf="isRutFieldValid">
        <p *ngIf="rutField.hasError('required')">Este campo es obligatorio</p>
    </div>
    
    <input type="text" formControlName="contrasena" ngClass="{
        'is-valid': isContrasenaFieldValid,
        'is-invalid': isContrasenaFieldInvalid
    }">
    <div *ngIf="isContrasenaFieldValid">
        <p *ngIf="contrasenaField.hasError('required')">Este campo es obligatorio</p>
    </div>
    
    <input type="text" formControlName="nombre" ngClass="{
        'is-valid': isNombreFieldValid,
        'is-invalid': isNombreFieldInvalid
    }">
    <div *ngIf="isNombreFieldValid">
        <p *ngIf="nombreField.hasError('required')">Este campo es obligatorio</p>
    </div>

    <input type="text" formControlName="apellido1" ngClass="{
        'is-valid': isApellido1FieldValid,
        'is-invalid': isApellido1FieldInvalid
    }">
    <div *ngIf="isApellido1FieldValid">
        <p *ngIf="apellido1Field.hasError('required')">Este campo es obligatorio</p>
    </div>

    <input type="text" formControlName="apellido2" ngClass="{
        'is-valid': isApellido2FieldValid,
        'is-invalid': isApellido2FieldInvalid
    }">
    <div *ngIf="isApellido2FieldValid">
        <p *ngIf="apellido2Field.hasError('required')">Este campo es obligatorio</p>
    </div>

    <button type="submit">Guardar</button>
</form>
